apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sgl-scheduler-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/zhengkezhou1/sgl-jax-action.git'
    targetRevision: HEAD
    path: k8s/scheduler
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
